html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FF6F61;
}

a:hover {
  opacity: .5;
}

img {
  max-width: 100%;
  display: block;
}