@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background: #2d2d2d;
  color: #fff;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FF6F61;
}

a:hover {
  opacity: .5;
}

img {
  max-width: 100%;
  display: block;
}